## Installing the LinkedIn API

In [2]:
# !pip install linkedin_api

## Importing Python Library Required To Do This Task

In [3]:
# Importing required library 
from linkedin_api import Linkedin
import pandas as pd
import time
import getpass

## Creating A Python Function To Authenticate LinkedIn User Using Their Credentials

In [4]:
def login():
    '''Logging in with credentials to use API'''

    # Writing code to implement the linekedIn authentication and maximum attempts for login is set for 5 attempts only.
    max_attempts = 5
    attempt = 0
    api = None

    while attempt < max_attempts:
        try:
            # Taking userID as input
            user = input('Enter your LinkedIN ID: ')

            # Taking password as input
            passwd = getpass.getpass("Enter your password: ")

            # Logging in in API (Authentication of userId and Password)
            api = Linkedin(user, passwd)
            return api
        except Exception:
            print(f"Login failed. Error: Kindly check your credentials")
            attempt += 1
            if attempt < max_attempts:
                print(f"Remaining attempts: {max_attempts - attempt}")
            else:
                print("Maximum login attempts reached. Exiting.")
                return None

## Creating A Function For Searching The Names Based On First Name and Last Name

In [5]:
'''According to the problem to find the top profile data below is a search_name function that is created to do the 
search based on first name and last name.'''

def search_name():
    '''Conducting Search - Firstname Lastname'''
    # Getting name
    name = input('Enter Name : ')
    if name == '':
        print('No name provided! Search will be conducted as per LinkedIn Blank search based on connections!\n')
        return None,None
    try:
        #If full name is provided
        fname,lname = name.split(' ')
        return fname,lname
    except ValueError:
        # If only firstname is provided
        print('Proceeding without a lastname')
        fname = name
        return fname,None

## Creating A Function For Getting The Top 10 Profile Data Using First Name And Last Name

In [6]:
# Finding the profile information of all the top 10 Users 
def profile_information_of_top_10_profiles(fname,lname=None):
    '''Getting unique URN IDs for each profile and getting profile data based on each urn_id'''
    
    # Getting URN ID from search_people function of API
    search_results = [urn['urn_id'] for urn in api.search_people(keyword_first_name=fname,
                                                                keyword_last_name = lname,
                                                                   limit=100)[:10]]
    
    #Getting Profile Information from URN_ID from get_profile function
    profile_info = [pd.DataFrame([api.get_profile(urn_id = id)]) for id in search_results]
    return profile_info

## Creating A Function For Saving The Data

In [7]:
# It's a save data function where I am saving all the data in a .csv format which is scrapped using API.

def save_data(profiles):
    '''Saving data in a .csv format'''
    try:
        # Getting dataframe with all top entires
        data = pd.concat(profiles,axis=0)

         # Replacing empty lists by NaN
        data = data.applymap(lambda x: None if isinstance(x, list) and len(x) == 0 else x)

        # Getting import information in the first indexes for better readability
        desired_column_order = ['profile_id','firstName','lastName','summary','education','experience','headline','industryName']
        desired_column_order.extend(col for col in data.columns if col not in desired_column_order)
        data = data[desired_column_order]
        
        # Saving data
        data.to_csv('LinkedIN Profile Results')
        print('Data Saved!!!')
        return data  #Just for review purpose
        
    except Exception:
        print('No user found!\nNo data Saved!')
        return None

## Example Usage

In [8]:
start_time = time.time()

api = login()
if api:
    print('Congratulations, you are permitted to use LinkedIN API\n\n\n')
    first_name,last_name = search_name()
    profiles_info = profile_information_of_top_10_profiles(fname=first_name,lname=last_name)
    data = save_data(profiles_info)

    end_time = time.time()
    total_runtime = end_time - start_time
    print(f"Total runtime: {total_runtime:.2f} seconds")
    
else:
    exit()

Enter your LinkedIN ID: soubhik1904@gmail.com
Enter your password: ········
Congratulations, you are permitted to use LinkedIN API



Enter Name : firstname lastname
Data Saved!!!
Total runtime: 95.22 seconds

In [9]:
data

,profile_id,firstName,lastName,summary,education,experience,headline,industryName,locationName,student,...,languages,publications,certifications,volunteer,honors,projects,displayPictureUrl,img_100_100,img_200_200,img_400_400
0,ACoAADjMtHEBBHaB33IlEPPJD0FCNnp0RIunlwQ,firstname,lastname,NaN,None,None,Technical Recruiter,IT Services and IT Consulting,Georgia,False,...,None,None,None,None,None,None,NaN,NaN,NaN,NaN
0,ACoAAC0YOysBn3w1cDE6Cav65ncf6pAbVciawQI,FIRSTname,LASTname,NaN,[{'entityUrn': 'urn:li:fs_education:(ACoAAC0YO...,None,Student at ABES Engineering College,NaN,India,False,...,None,None,None,None,None,None,https://media.licdn.com/dms/image/C5103AQGNuJ6...,100_100/0/1565625285441?e=1712793600&v=beta&t=...,200_200/0/1565625285411?e=1712793600&v=beta&t=...,800_800/0/1565625285503?e=1712793600&v=beta&t=...
0,ACoAABVfpx8BpqBrgPNE1TVwp2x0Rx_ZQy7VYkU,Firstname,L.,Experienced Entrepreneur,[{'entityUrn': 'urn:li:fs_education:(ACoAABVfp...,[{'entityUrn': 'urn:li:fs_position:(ACoAABVfpx...,Headline,Software Development,United States,False,...,None,None,None,None,None,None,NaN,NaN,NaN,NaN